 /* html, body, #root, .app {
   height: 100%;
 } */

 /* body {
  margin: 0;
  font-family: OpenSans, sans-serif;
  background-color: #f9fafb;
  -webkit-font-smoothing: antialiased;
}
input {
  font-family: OpenSans, sans-serif;
  -webkit-font-smoothing: antialiased;
} */